body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

    form input {
        margin: 5px;
    }

#scanner {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.hidden {
    display: none;
}
